/* General Body Styles */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #1e1e2f, #2b2b45);
  font-family: 'Poppins', Arial;
  color: white;
  animation: fadeIn 1.5s ease-in-out;
  text-align: center;
  padding-bottom: 100px;
}


/* TEST  */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Headings */
h1 {
  margin-top: 30px;
  text-decoration: underline;
  font-size: 40px;
  color: #ffca28;
}

h2 {
  font-size: 28px;
  color: #00e5ff;
  margin-bottom: 10px;
}

/* Boxes */
.box, .todo-box {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 15px black;
  backdrop-filter: blur(10px);
}

/* Subheading in Box */
.subheading {
  font-size: 30px;
  color: #00e5ff;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Input and Buttons */
input, button {
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  background: #ffca28;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ffa726;
}

/* Messages */
#message {
  font-size: 22px;
  margin-top: 15px;
}

/* To-Do List */
#todoList {
  text-align: left;
  width: 60%;
  margin: auto;
  font-size: 20px;
  margin-top: 10px;
}
